# Dependabot will run on day 28 of each month at 03:44 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 15
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "44 3 28 * *"
  - package-ecosystem: "npm"
    directory: "/"
    open-pull-requests-limit: 15
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "44 3 28 * *"
    assignees:
      - "hombach"
    versioning-strategy: "increase"
